<!DOCTYPE html>
<html>
<head>
  <title>BattleOfBands</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="_KqVj6yt4a09AnQhA3PypGSnBUKW_C10JrH3Pvhu4R8" />

<%= render 'layouts/googleanalytics' %>

</head>
<body>

<%= yield %>

<%= render 'footer' %>

</body>
</html>
